@page "/"
@namespace Mytheme.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mytheme</title>
    <base href="~/" />
    <style>
        ::-webkit-scrollbar {
            display: none;
        }
        html {
            height: 100%;
            overflow: hidden;
        }

        body {
            min-height: 100%;
            overflow: hidden;
        }
    </style>
    <link rel="stylesheet" href="/css/mytheme.css" />
    <link rel="stylesheet" href="_content/Mytheme.Map/leaflet.css" />
    <script src="_content/Mytheme.Map/helper.js"></script>
    <script src="_content/Mytheme.Map/leaflet.js"></script>
    <script src="_content/Mytheme.Map/leafletInterops.js"></script>
    @(await Html.RenderComponentAsync<BlazorStyled.ServerSideStyled>(RenderMode.Server))
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.Server))
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
