@page "/campaign"
@page "/campaign/{id}"

@using Mytheme.Dal.Dto
@using Mytheme.Services
@using Mytheme.Services.Interfaces

@inject BreadcrumbService BreadcrumbService
@inject ISectionService SectionService
  
<input type="text" id="name" placeholder="Name" @bind="@_section.Name" />
<input type="text" id="desc" placeholder="Description" @bind="@_section.Description"/>
<div>
    <label for="created">Created: </label><span id="created">@_section.DateCreated.ToShortDateString()</span>
</div>

@code {

    [Parameter]
    public string Id { get; set; }

    private Section _section;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(Id))
        {
            Id = Guid.NewGuid().ToString();

            BreadcrumbService.SetBreadCrumb("New Campaign");
            _section = new Section
            {
                Id = Id,
                DateCreated = DateTime.Now,
                SectionType = SectionType.Campaign
            };
        }
        else
        {
            var result = await SectionService.GetSectionAsync(Id);

            if (result.IsSuccess)
            {
                _section = result.Result;
            }
        }

        BreadcrumbService.NavBarButtons.Clear();
        BreadcrumbService.NavBarButtons.Add(new NavBarButton("Edit",SvgName.Edit, Edit));
        BreadcrumbService.NavBarButtons.Add(new NavBarButton("Import",SvgName.Bug, Bug));
        BreadcrumbService.NavBarButtons.Add(new NavBarButton("Export",SvgName.Bug, Bug));
    }

    private void Edit()
    {
        var test = "";
    }

    private void Save()
    {

    }

    private void Bug()
    {
        var test = "";
    }
}
