@page "/maptest"
@using Mytheme.Map.Models
@using Mytheme.Services

@inject FileHandlerService FileHandlerService

    <Styled @bind-Classname="@mapStyle">
        position: relative;
        width: 100%;
        height: 100%;
    </Styled>

<div class="@mapStyle">
    <LeafletMap MapImage="@map" @ref="@mapView"></LeafletMap>
</div>

@code {

    private string mapStyle;
    
    MapImage map;
    LeafletMap mapView;

    protected override void OnInitialized()
    {
        map = new MapImage
        {
            Url = "/mythemelocal/images/69776bd4-5b98-4201-8db7-7635b47da68d.png", 
            Height = 1600, 
            Width = 1174
        };
    }

}
