@page "/maptest"
@using System.IO

<div>
    <button @onclick="LoadImage">Load</button>
</div>
<div>
    <TestMap WindowSize="@windowSize"
             @ref="@mapView"></TestMap>
</div>
@code {
    WindowSize windowSize;

    TestMap mapView;

    protected override void OnInitialized()
    {
        windowSize = new WindowSize
        {
            Height = 800,
            Width =  1200
        };
    }

    protected void LoadImage()
    {
        //https://stackoverflow.com/questions/55371811/asp-net-core-2-load-and-display-images-from-local-disk-drive
        var appDataPath = Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.LocalApplicationData), "Mytheme");
        var imagePath = Path.Combine(appDataPath, "images");

        mapView.LoadImage(Path.Combine(imagePath, "9009f927-f03e-4cb7-b18f-43acd1d12091.png")).Wait();
    }
}
