@page "/markdowntest"
@using System.ComponentModel.DataAnnotations

<div class="@test">
<MythemeMarkdownEditor Content="@Content" PercentHeight="75">

</MythemeMarkdownEditor>
</div>

@code {

    private string test;

    public string Content { get; set; }

    protected async Task HandleValidSubmit()
    {
        await SaveTemplate();
    }

    protected async Task SaveTemplate()
    {
        //TODO: Add Template validation


    }
}
